<form class="flex flex-column gap-3 mt-3">
  <div class="flex gap-3">
    <div class="w-full">
      <label for="cvc" class="block mb-1 text-color text-base">Patente</label>
      <span class="w-full">
        <input
          name="cvc"
          type="text"
          class="w-full"
          id="cvc"
          pInputText
          pKeyFilter="int"
          placeholder="123"
        />
      </span>
    </div>
    <div class="w-full">
      <label for="expiration" class="block mb-1 text-color text-base"
        >VIN</label
      >
      <span class="w-full">
        <input
          name="exp"
          type="text"
          class="w-full"
          id="expiration"
          pInputText
          placeholder="12/22"
        />
      </span>
    </div>
  </div>
  <div class="flex gap-3">
    <div class="w-full">
      <label for="cvc" class="block mb-1 text-color text-base">Tipo</label>
      <span class="w-full">
        <input
          name="cvc"
          type="text"
          class="w-full"
          id="cvc"
          pInputText
          pKeyFilter="int"
          placeholder="123"
        />
      </span>
    </div>
    <div class="w-full">
      <label for="expiration" class="block mb-1 text-color text-base"
        >Marca</label
      >
      <span class="w-full">
        <input
          name="exp"
          type="text"
          class="w-full"
          id="expiration"
          pInputText
          placeholder="12/22"
        />
      </span>
    </div>
  </div>
  <div class="flex gap-3">
    <div class="w-full">
      <label for="cvc" class="block mb-1 text-color text-base">Modelo</label>
      <span class="w-full">
        <input
          name="cvc"
          type="text"
          class="w-full"
          id="cvc"
          pInputText
          pKeyFilter="int"
          placeholder="123"
        />
      </span>
    </div>
    <div class="w-full">
      <label for="expiration" class="block mb-1 text-color text-base"
        >Año</label
      >
      <span class="w-full">
        <input
          name="exp"
          type="text"
          class="w-full"
          id="expiration"
          pInputText
          placeholder="12/22"
        />
      </span>
    </div>
  </div>
</form>
