<form [formGroup]="vehicleForm" class="flex flex-column gap-3 mt-3">
  <div class="flex gap-3">
    <div class="w-full">
      <label for="patent" class="block mb-1 text-color text-base"
        >Patente</label
      >
      <span class="w-full">
        <input
          formControlName="patent"
          type="text"
          id="patent"
          class="w-full"
          pInputText
          pKeyFilter="int"
          placeholder="Ingrese patente"
        />
      </span>
    </div>
    <div class="w-full">
      <label for="codeChasis" class="block mb-1 text-color text-base"
        >VIN</label
      >
      <span class="w-full">
        <input
          type="text"
          class="w-full"
          formControlName="codeChasis"
          id="codeChasis"
          pInputText
          placeholder="Ingrese VIN"
        />
      </span>
    </div>
  </div>
  <div class="flex gap-3">
    <div class="w-full">
      <label for="typeImp" class="block mb-1 text-color text-base">Tipo</label>
      <span class="w-full">
        <input
          formControlName="typeImp"
          type="text"
          class="w-full"
          id="typeImp"
          pInputText
          pKeyFilter="int"
          placeholder="Ingrese tipo"
        />
      </span>
    </div>
    <div class="w-full">
      <label for="brand" class="block mb-1 text-color text-base">Marca</label>
      <span class="w-full">
        <input
          formControlName="brand"
          type="text"
          class="w-full"
          id="brand"
          pInputText
          placeholder="Ingrese marca"
        />
      </span>
    </div>
  </div>
  <div class="flex gap-3">
    <div class="w-full">
      <label for="model" class="block mb-1 text-color text-base">Modelo</label>
      <span class="w-full">
        <input
          formControlName="model"
          type="text"
          class="w-full"
          id="model"
          pInputText
          pKeyFilter="int"
          placeholder="Ingrese modelo"
        />
      </span>
    </div>
    <div class="w-full">
      <label for="manufactureYear" class="block mb-1 text-color text-base"
        >Año</label
      >
      <span class="w-full">
        <p-calendar
          formControlName="manufactureYear"
          appendTo="body"
          view="year"
          placeholder="Ingrese año"
          dateFormat="yy"
          inputId="yearpicker"
          class="w-full"
          [style]="{ width: '100%' }"
          [maxDate]="maxDate"
          [minDate]="minDate"
        ></p-calendar>
      </span>
    </div>
  </div>
</form>
