<span dropdown id="span-email">
  <input
    class="input-panel form-control"
    autocomplete="off"
    [(ngModel)]="inputValue"
    type="email"
    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$"
    [placeholder]="givenPlaceHolder || ''"
    (keyup)="onInputChange($event)"
    dropdownToggle
  />

  @if(suggestedEmails.length){
  <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu" role="menu">
    <li
      style="cursor: pointer"
      *ngFor="let suggestedEmail of suggestedEmails"
      (click)="selectSuggestedEmail(suggestedEmail)"
    >
      <a class="dropdown-item">{{ suggestedEmail }}</a>
    </li>
  </ul>
  }
</span>
@if(!isValidEmail && inputValue){
<p class="text-error-form-2">El email ingresado no es válido.</p>
}
