<ng-container *ngIf="innerWidth > 426">
  <ng-container *ngIf="banners">
    <div class="container" style="text-align: center">
      <img
        [src]="banners.imageFull"
        width="100%"
        style="max-height: 250px; margin-top: 15px"
        [alt]="banners.alt"
      />
    </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="innerWidth < 427">
  <ng-container *ngIf="banners">
    <img
      [src]="banners.imageMobile"
      width="100%"
      [alt]="banners.alt"
      style="margin-top: 28px; max-height: 180px"
    />
  </ng-container>
</ng-container>
<ng-container *ngIf="innerWidth <= 1025">
  <div [ngStyle]="{ 'margin-top': banners ? '0px' : '30px' }">
    <app-page-header
      [breadcrumbs]="breadcrumbs"
      [textToSearch]="textToSearch"
      [totalRegistros]="PagTotalRegistros"
    >
    </app-page-header>
  </div>
  <div
    class="col-sm"
    style="
      border: 1px solid;
      margin-top: 5px;
      margin-bottom: 5px;
      color: rgba(0, 0, 0, 0.1);
    "
  ></div>
</ng-container>

<ng-template #sidebar>
  <div
    class="shop-layout__sidebar d-none d-lg-block d-xl-block"
    style="border-radius: 10px"
  >
    <div class="block block-sidebar">
      <div
        class="block-sidebar__item"
        (window:scroll)="positionScroll($event)"
        [class.top]="scrollPosition > 700"
      >
        <app-widget-filters
          [filtrosOculto]="filtrosOculto"
          [filters]="filters"
          [removableFilters]="removableFilters"
          [removableCategory]="removableCategory"
          [marca_tienda]="marca_tienda"
          (filtersSelected)="updateFilters($event)"
          (clearCategory)="clearCategory()"
          (clearAll)="clearAll()"
        >
        </app-widget-filters>
      </div>
    </div>
  </div>

  <div
    class="shop-layout__sidebar shop-layout-mobile__sidebar"
    [ngClass]="{ active: visibleFilter == true }"
  >
    <div class="block block-sidebar">
      <div class="block-sidebar__item">
        <app-widget-filters
          [filtrosOculto]="filtrosOculto"
          [filters]="filters"
          [removableFilters]="removableFilters"
          [removableCategory]="removableCategory"
          (filtersSelected)="updateFilters($event)"
          (clearCategory)="clearCategory()"
          (clearAll)="clearAll()"
        >
        </app-widget-filters>
      </div>

      <div class="row m-0">
        <div class="col-12">
          <button
            name="visibleFilter"
            class="btn w-100 btn-secondary btn-lg text-center"
            (click)="visibleFilter = false"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div class="shop-layout container shop-layout--sidebar--start mt-3 site_b2c">
  <ng-container [ngTemplateOutlet]="sidebar"></ng-container>

  <div class="shop-layout__content container">
    <!-- buscador nuevo -->
    <div class="block">
      <p-card [style]="{ width: '100%' }">
        <ng-template pTemplate="header">
            <div class="flex gap-2 p-3" style="background-color: #0063B9;justify-content:center;">
                <h5 style="align-self: center; color: white;">Busca tu cadena de nieve</h5>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="flex flex-wrap mb-2" style="justify-content:center;">
            <h5 style="align-self: center; font-size: 18px;">
              ¿Cuantas medidas tengo?
              <i class="pi pi-info-circle" [pTooltip]="tooltipContent" tooltipPosition="bottom" style="color: blue;font-size: 1rem"></i>
            </h5>
            <ng-template #tooltipContent>
              <div style="width: 150px;">
                <img style="max-width: 100%;" src="https://cdn11.bigcommerce.com/s-mb6ezqbwve/content/img/tirechain_selector/selector_tooltip.jpg" alt="">
              </div>
            </ng-template>
          </div>
          <!-- <div class="flex justify-content-center">
            <div class="flex gap-5 w-50">
              <div class="flex w-50">
                <p-button label="2 medias" class="w-full" styleClass="w-full" />
              </div>
              <div class="flex w-50">
                <p-button label="3 medidas" class="w-full" styleClass="w-full" />
              </div>
            </div>
          </div> -->
          <div>
            <div class="mb-4">
              <!-- <p-dropdown
              styleClass="w-full"
              [options]="size1"
              placeholder="size 1" /> -->
              <p-floatLabel>
                <p-dropdown
                    styleClass="w-full"
                    [options]="size1"
                    inputId="float-label" />
                <label for="float-label">Size 1</label>
              </p-floatLabel>
            </div>
            <div class="mb-4">
              <!-- <p-dropdown
              styleClass="w-full"
              [options]="size2"
              placeholder="size 2" /> -->
              <p-floatLabel>
                <p-dropdown
                    styleClass="w-full"
                    [options]="size2"
                    inputId="float-label" />
                <label for="float-label">Size 2</label>
              </p-floatLabel>
            </div>
            <div class="mb-4">
              <!-- <p-dropdown
              styleClass="w-full"
              [options]="size3"
              placeholder="size 3" /> -->
              <p-floatLabel>
                <p-dropdown
                    styleClass="w-full"
                    [options]="size3"
                    inputId="float-label" />
                <label for="float-label">Size 3</label>
              </p-floatLabel>
            </div>
            <div class="flex mt-2">
                <p-button label="Buscar" class="w-full" styleClass="w-full" />
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>
    <div class="block">
      <app-products-view
        *ngIf="origen"
        [isInitialLoading]="isInitialLoading"
        [isScrollLoading]="isScrollLoading"
        [paramsCategory]="paramsCategory"
        [origen]="origen"
        [breadcrumbs]="breadcrumbs"
        [textToSearch]="textToSearch"
        [currentPage]="currentPage"
        [showProductOptions]="true"
        [products]="products"
        [limit]="pageSize"
        [totalPaginas]="totalPaginas"
        [desde]="PagDesde"
        [hasta]="PagHasta"
        [totalRegistros]="PagTotalRegistros"
        (onInfiniteScrollEvent)="onInfiniteScroll($event)"
        (filterState)="setFilteState($event)"
        (sort)="setSort($event)"
      >
      </app-products-view>
    </div>
  </div>
</div>
