<div>
    <div
      class="top-bar-categories d-flex align-items-center mb-3"
      [class.p-0]="innerWidth < 450"
      [class.ps-4]="innerWidth < 450"
      (window:resize)="onResize($event)"
    >
      <div class="title d-flex align-items-center me-auto">
        <i _ngcontent-serverapp-c11="" class="fas fa-file-invoice me-3"></i>
        <h5>Órdenes de Venta</h5>
      </div>
    </div>

    <div class="row m-0">
      <div class="col-xl-12">
        <div class="card">
          <ng-container *ngIf="innerWidth < 450">
            <div class="card-body table-responsive mobile-container">
              <table
                datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
                class="hover datatable nowrap table-shadow"
              >
                <thead>
                  <tr>
                    <th>Órdenes de Venta</th>
                  </tr>
                </thead>
                <tbody *ngIf="orders?.length != 0">
                  <tr *ngFor="let item of orders">
                    <td class="mobile-data-cell">
                      <strong>Fecha: </strong>
                      {{ item.updatedAt | date : 'dd-MM-yyyy HH:mm' }}<br />
                      <strong>OV: </strong> {{ item?.salesId }}<br />
                      <strong>Bodega: </strong> {{ item?.warehouse}}<br />
                      <strong>Sucursal:</strong>{{item?.branchCode}}<br />
                      <strong>Rut: </strong>{{ item?.customer.documentId}}<br />
                      <strong>OC Monto: </strong>{{ item?.purchaseOrder.amount}}<br />
                      <strong>OC Folio: </strong>{{ item?.purchaseOrder.number}}<br />
                      <!-- <strong>Centro Costo: </strong>{{ item?.purchaseOrder.costCenter}}<br /> -->
                      <div class="options">
                        <button name="Confirmar" class="btn btn-secondary"
                        (click)="confirmarOV(item._id)">Confirmar</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="orders?.length == 0">
                  <tr>
                    <td colspan="2" class="no-data-available">
                      No hay registros a mostrar!
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-container>
          <ng-container *ngIf="innerWidth > 450">
            <div class="card-body table-responsive">
              <table
                datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
                class="hover datatable nowrap table-shadow"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>Fecha</th>
                        <th>OV</th>
                        <th>Bodega</th>
                        <th>Sucursal</th>
                        <th>RUT</th>
                        <!-- <th>Nombre</th> -->
                        <th>OC Monto</th>
                        <th>OC Folio</th>
                        <!-- <th>Centro - Costo</th> -->
                        <!-- <th>Credito</th>
                        <th>Saldo</th> -->
                        <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody *ngIf="orders?.length != 0">
                  <tr *ngFor="let item of orders">
                    <td>{{ item.updatedAt | date : 'dd-MM-yyyy HH:mm' }}</td>
                    <td>{{ item?.salesId }}</td>
                    <td>{{ item?.warehouse  }}</td>
                    <td>{{item?.branchCode}}</td>
                    <td>{{item?.customer.documentId}}</td>
                    <td>{{item?.purchaseOrder.amount}}</td>
                    <td>{{item?.purchaseOrder.number}}</td>
                    <!-- <td>{{item?.purchaseOrder.costCenter }}</td> -->
                    <td>
                        <button name="Confirmar" class="btn btn-secondary"
                        (click)="confirmarOV(item._id)">Confirmar</button>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="orders?.length == 0">
                  <tr>
                    <td colspan="5" class="no-data-available">
                      No hay registros a mostrar!
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
