<div
  class="indicator indicator--mobile indicator--trigger--click"
  appDropdown="indicator--opened"
  #menuUser="appDropdown"
  style="
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  "
>
  <!-- Start::botón iniciar sesión -->
  <div
    class="indicator__button"
    style="flex-direction: column; padding-bottom: 0"
    (click)="$event.preventDefault(); cerrarBienvenida(); menuUser.toggle()"
  >
    <div
      style="
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <i class="fa-light fa-user fa-xl lg:text-lg"> </i>
    </div>

    <div
      style="
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: start;
      "
    >
      <span style="line-height: normal; text-align: center; font-size: 10px">
        @if(usuario == null || usuario.login_temp == true){ Ingresar } @else{
        {{ usuario.firstName | capitalizeFirst : true }}
        }
      </span>
    </div>
  </div>
  <!-- End::botón iniciar sesión -->

  <!-- Start::dropdown -->
  <div
    class="indicator__dropdown shadow-2"
    style="max-height: auto; overflow-y: auto"
  >
    <ng-container *ngIf="mostrarMenu && !mostrarBienvenida">
      <app-header-menu layout="topbar" [items]="linkMiCuenta" />
    </ng-container>
    <ng-container *ngIf="!mostrarMenu">
      <app-header-login
        (muestraLogin)="cambiaElementosMenu($event)"
        [linkRegister]="true"
      />
    </ng-container>

    <div
      *ngIf="mostrarMenu && mostrarBienvenida"
      class="alert-session card p-4 mt-4"
    >
      <p class="fw-bold title-sesion">
        Bienvenido
        <span *ngIf="this.usuario">
          {{ usuario.firstName | capitalizeFirst : true }}
          {{ usuario.lastName | capitalizeFirst : true }}
        </span>
      </p>
      <p class="fw-bold">
        Se han cargado tus precios especiales de {{ usuario?.company || '' }}
      </p>
      <p class="text-gray-2 subtitle mb-2">
        Recuerda que puedes ingresar a tu cuenta para:
      </p>
      <ul class="text-gray-2 subtitle ps-4">
        <li>Ver historial de pedidos</li>
        <li>Mis listas guardadas</li>
        <li>Chat con mi vendedor</li>
        <li>Y mucho más</li>
      </ul>

      <button
        name="close"
        class="btn btn-link"
        (click)="menuUser.toggle(); cerrarBienvenida()"
      >
        Cerrar
      </button>
    </div>
  </div>
</div>
