<div
  class="container d-none d-xl-block"
  style="background-color: white; padding: 30px 10px"
>
  <div class="flex flex-wrap align-items-center mt-3">
    <div class="col-20" *ngFor="let incentive of incentives">
      <a [href]="incentive.url">
        <app-button
          [imagen]="incentive.image"
          [titulo]="incentive.title"
          [linea1]="incentive.subtext1"
          [linea2]="incentive.subtext2"
        />
      </a>
    </div>
  </div>
</div>

<div
  class="container block-slideshow mb-0 d-xl-none d-block"
  style="background-color: white; padding: 50px 10px 20px 10px"
>
  @if(incentives.length) {
  <owl-carousel-o
    class="carouselButtons"
    [options]="options"
    appOwlPreventClick
    [ngClass]="{ item: true }"
  >
    <ng-container *ngFor="let incentive of incentives; let i = index">
      <ng-template
        carouselSlide
        [id]="'id-' + i"
        style="height: 300px !important"
      >
        <a [href]="incentive.url">
          <app-button
            [imagen]="incentive.image"
            [titulo]="incentive.title"
            [linea1]="incentive.subtext1"
            [linea2]="incentive.subtext2"
          />
        </a>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
  }
</div>
