<div
  class="product-card p-2 lg:p-3"
  [style.min-height]="showDelivery ? '377px' : '335px'"
  [ngClass]="{
    'product-card--layout--grid product-card--size--sm': layout === 'grid-sm',
    'product-card--layout--grid product-card--size--nl': layout === 'grid-nl',
    'product-card--layout--grid product-card--size--lg': layout === 'grid-lg',
    'product-card--layout--list': layout === 'list',
    'product-card--layout--horizontal': layout === 'horizontal'
  }"
  style="height: 100%; overflow: hidden"
>
  <!-- min-height: 380px -->
  <span class="floating-offers" *ngIf="layout === 'horizontal'"> 50% </span>

  @if(productData.priceInfo.hasScalePrice){
  <div
    class="product-card__badges-list hidden lg:block"
    *ngIf="productData.priceInfo.hasScalePrice"
    style="margin-left: 15px !important"
  >
    <div *ngIf="!preciosEscalas">
      <picture>
        <source
          srcset="assets/images/llevaMasPagaMenos/50x50_cuadrado.webp"
          type="image/webp"
        />
        <source
          srcset="assets/images/llevaMasPagaMenos/50x50_cuadrado.jpg"
          type="image/jpg"
        />
        <img
          style="width: 90%"
          src="assets/images/llevaMasPagaMenos/50x50_cuadrado.jpg"
          class="img_escala"
          alt="precio escala"
        />
      </picture>
    </div>
    <div
      *ngIf="preciosEscalas"
      style="cursor: pointer"
      [ngbPopover]="popoverContent"
      #popover="ngbPopover"
      triggers="hover"
      placement="bottom-left"
      container="body"
      (mouseenter)="verPreciosEscala(popover)"
    >
      <picture>
        <source
          srcset="assets/images/llevaMasPagaMenos/50x50_cuadrado.webp"
          type="image/webp"
        />
        <source
          srcset="assets/images/llevaMasPagaMenos/50x50_cuadrado.jpg"
          type="image/jpg"
        />
        <img
          src="assets/images/llevaMasPagaMenos/50x50_cuadrado.jpg"
          class="img_escala"
          alt="precio escala"
        />
      </picture>
    </div>
  </div>
  <!-- Start::precio escala mobile -->
  <div
    class="product-card__badges-list block lg:hidden"
    style="margin-left: 15px !important"
  >
    <div *ngIf="!preciosEscalas">
      <picture>
        <source
          srcset="assets/images/llevaMasPagaMenos/50x50_cuadrado.webp"
          type="image/webp"
        />
        <source
          srcset="assets/images/llevaMasPagaMenos/50x50_cuadrado.jpg"
          type="image/jpg"
        />
        <img
          src="assets/images/llevaMasPagaMenos/50x50_cuadrado.jpg"
          class="img_escala"
          alt="precio escala"
        />
      </picture>
    </div>
    <div
      *ngIf="preciosEscalas"
      style="cursor: pointer"
      (click)="verPreciosEscalaModal()"
    >
      <picture>
        <source
          srcset="assets/images/llevaMasPagaMenos/50x50_cuadrado.webp"
          type="image/webp"
        />
        <source
          srcset="assets/images/llevaMasPagaMenos/50x50_cuadrado.jpg"
          type="image/jpg"
        />
        <img
          src="assets/images/llevaMasPagaMenos/50x50_cuadrado.jpg"
          class="img_escala"
          alt="precio escala"
        />
      </picture>
    </div>
  </div>
  <!-- End::precio escala mobile -->

  }

  <!-- Start::imagen -->
  <div class="alturaimg lg:h-12rem" [class.text-center]="home || cartClass">
    <a
      class="flex align-items-center justify-content-center"
      style="max-width: 90%; height: auto"
      appClick
      (click)="cartService.setProductOrigin(origen)"
      [routerLink]="
        root.product(productData.sku, productData.name, paramsCategory)
      "
    >
      <img
        [src]="root.getUrlImagenMiniatura(productData)"
        class="img-fluid lazyload"
        [class.imgH]="home"
        [class.imgC]="cartClass"
        [alt]="productData.name"
        (error)="root.errorLoadImage($event)"
      />
    </a>
  </div>
  <!-- End::imagen -->

  <div class="product-card__info relative px-0">
    <!-- Start::badge cybermonday -->
    @if(cyberMonday){
    <div class="product-card__badges-list-right">
      <div
        class="badge_cyber float-end"
        style="position: absolute; top: -51px; right: 1px"
      >
        <picture>
          <img
            [src]="IMAGE_URL + '/uploads/cyber/cyberMonday.webp'"
            style="width: 50px !important; height: 50px"
            alt="logo oferta"
          />
        </picture>
      </div>
    </div>
    }
    <!-- End::badge cybermonday -->

    <!-- Start::badge producto oficial -->
    <div class="product-card__badges-list-right" *ngIf="isOfficial">
      <div
        class="badge_cyber float-end"
        style="position: absolute; top: -32px; right: 1px"
      >
        <picture>
          <img
            [src]="imageOEM | replace : 'png' : 'svg'"
            class="mr-1 mt-sm-1"
            style="width: 50px !important; height: 50px"
            alt="logo oferta"
          />
        </picture>
      </div>
    </div>
    <!-- End::badge producto oficial -->

    <div
      class="product-card__badges-list-right"
      *ngIf="cyber && cyberMonday === 0"
    >
      <div
        class="badge_cyber float-end"
        style="position: absolute; top: -32px; right: 1px"
      >
        <picture>
          <img
            [src]="IMAGE_URL + '/uploads/cyber/cyber.webp'"
            alt=""
            height="60px"
            width="60px"
            class="me-1 mt-sm-1 img"
            style="width: 50px; height: 50px"
            alt="logo oferta"
          />
        </picture>
      </div>
    </div>

    <div class="product-card__name">
      <!-- Start::marca -->
      <div>
        <a
          class="marcaP text-sm"
          (click)="cartService.setProductOrigin(origen)"
          appClick
          [routerLink]="
            root.product(productData.sku, productData.name, paramsCategory)
          "
          >{{
            productData.brand
              | replace : '^SIN MARCA$' : 'IMPLEMENTOS'
              | replace : '^0$' : 'IMPLEMENTOS'
          }}</a
        >
      </div>
      <!-- End::marca -->

      <!-- Start::descripción -->
      <div class="mt-2">
        <a
          appClick
          (click)="cartService.setProductOrigin(origen)"
          [routerLink]="
            root.product(productData.sku, productData.name, paramsCategory)
          "
        >
          <span class="nombreP text-600 p-0">
            {{ productData.name | capitalizeFirst }}
          </span>
        </a>
      </div>
      <!-- End::descripción -->
    </div>

    <!-- Start::precios -->
    @if(productData.stockSummary.branchStock ||
    productData.stockSummary.companyStock){
    <!-- outline: 1px solid red -->
    <div
      class="product-card__prices flex flex-column mt-2 justify-content-center"
      style="height: 39px"
      [ngStyle]="{
        'align-items':
          productData.priceInfo.commonPrice ===
          productData.priceInfo.customerPrice
            ? 'center'
            : 'unset'
      }"
    >
      @if(productData.priceInfo.commonPrice ===
      productData.priceInfo.customerPrice) {
      <div class="product-card__new-price py-0">
        {{
          (session.preferences.iva
            ? productData.priceInfo.customerPrice
            : productData.priceInfo.customerNetPrice
          ) | currencyFormat
        }}
        <em> {{ session.preferences.iva ? 'c/iva' : 's/iva' }} </em>
      </div>
      } @else {
      <div
        class="product-card__new-price text-red-500 py-0"
        style="padding-left: 0 !important; padding-right: 5px !important"
      >
        {{
          (session.preferences.iva
            ? productData.priceInfo.customerPrice
            : productData.priceInfo.customerNetPrice
          ) | currencyFormat
        }}
        <em> {{ session.preferences.iva ? 'c/iva' : 's/iva' }} </em>
      </div>
      <div
        tooltip="Precio normal"
        class="product-card__old-price py-0"
        style="
          text-align: left;
          padding-left: 0 !important;
          padding-right: 5px !important;
        "
      >
        {{
          (session.preferences.iva
            ? productData.priceInfo.commonPrice
            : productData.priceInfo.commonNetPrice
          ) | currencyFormat
        }}
        <em> {{ session.preferences.iva ? 'c/iva' : 's/iva' }} </em>
        <br />
      </div>
      }
    </div>
    }
    <!-- End::precios -->
  </div>

  <!-- Start::fecha retiro y recibo -->
  @if(showDelivery){
  <div class="product-card__info flex-column mt-1 lg:mt-2 px-0">
    <!-- Start::despacho a domicilio -->
    <div class="flex align-items-center">
      @if(productData.deliverySupply?.deliveryIsToday){
      <i class="fas fa-shipping-fast me-2"></i>
      <div
        style="
          margin-top: 2px;
          padding: 0px 5px;
          background-color: #00800033;
          border-radius: 4px;
        "
      >
        <i
          style="
            color: green;
            font-weight: bold;
            font-style: normal;
            font-size: 12px;
          "
          >Llega hoy</i
        >
      </div>
      } @else {
      <div
        *ngIf="
          productData.deliverySupply?.deliveryDate == null;
          else fechaDelivery
        "
      >
        <i class="fas fa-shipping-fast me-2" style="color: grey"></i>
        <i style="color: grey; font-style: normal; font-size: 12px"
          >No disponible</i
        >
      </div>
      <ng-template #fechaDelivery>
        <i class="fas fa-shipping-fast me-2"></i>
        <i
          style="
            color: black;
            font-weight: bold;
            font-style: normal;
            font-size: 12px;
          "
          >Llega
          {{
            productData.deliverySupply?.deliveryDate
              | date : 'dd/MM'
              | uppercase
          }}</i
        >
      </ng-template>
      }
    </div>
    <!-- End::despacho a domicilio -->

    <!-- Start::retiro en tienda -->
    @if(productData.deliverySupply?.pickupIsToday){
    <div class="flex align-items-center">
      <i class="fas fa-store me-2"></i>
      <div
        style="
          margin-top: 2px;
          padding: 0px 5px;
          background-color: #00800033;
          border-radius: 4px;
        "
      >
        <i
          style="
            color: green;
            font-weight: bold;
            font-style: normal;
            font-size: 12px;
          "
          >Retira hoy</i
        >
      </div>
    </div>
    } @else {
    <div
      style="margin-top: 2px"
      *ngIf="
        productData.deliverySupply?.pickupDate == null;
        else fechaEntregaRetiro
      "
    >
      <i class="fas fa-store me-2" style="color: grey"></i>
      <i style="color: grey; font-style: normal; font-size: 12px"
        >No disponible</i
      >
    </div>
    <ng-template #fechaEntregaRetiro>
      <div style="margin-top: 2px">
        <i class="fas fa-store me-2"></i>
        <i
          style="
            color: black;
            font-weight: bold;
            font-style: normal;
            font-size: 12px;
          "
          >Retira
          {{
            productData.deliverySupply?.pickupDate | date : 'dd/MM' | uppercase
          }}</i
        >
      </div>
    </ng-template>
    }
    <!-- End::retiro en tienda -->
  </div>
  }
  <!-- End::fecha retiro y recibo -->

  <!-- Start::sujeto a disponibilidad -->
  @if(!productData.stockSummary.branchStock &&
  !productData.stockSummary.companyStock){
  <!-- style="outline: 1px solid red; height: 39px" -->
  <div
    class="product-card__info px-0 mt-2 justify-content-center"
    style="height: 39px"
  >
    <div class="no_stock text-center bg-red-500 text-50 border-round-md">
      <span>Sujeto a disponibilidad </span>
    </div>
  </div>
  }
  <!-- End::sujeto a disponibilidad -->

  <!-- Start::botones de acción -->
  <div class="product-card__actions mt-2">
    <div class="product-card__buttons p-0">
      @if(productData.stockSummary.branchStock ||
      productData.stockSummary.companyStock){
      <button
        name="addToCart"
        [disabled]="!productData.priceInfo.price"
        class="btn btn-secondary product-card__addtocart w-100"
        type="button"
        appClick
        (click)="addToCart()"
        [ngClass]="{ 'btn-loading': addingToCart }"
      >
        <div class="text-center" style="font-size: 14px">AGREGAR</div>
      </button>
      } @else{
      <button
        [routerLink]="
          root.product(productData.sku, productData.name, paramsCategory)
        "
        class="btn btn-secondary product-card__addtocart w-100"
        type="button"
        appClick
      >
        <div class="text-center" style="font-size: 14px">SOLICITAR</div>
      </button>
      }
    </div>
  </div>
  <!-- End::botones de acción -->
</div>

<ng-template #popoverContent>
  <div class="product_content">
    <a
      style="margin-bottom: 10px"
      appClick
      (click)="cartService.setProductOrigin(origen); modalEscalaRef.hide()"
      [routerLink]="
        root.product(productData.sku, productData.name, paramsCategory)
      "
    >
      <span class="nombreP text-600">
        {{ productData.name | slice : 0 : 30 | uppercase }} {{ ' ...' }}
      </span>
    </a>
    <table>
      <thead>
        <tr style="background-color: #094cac !important">
          <th>Volumen</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody *ngIf="preciosEscalas">
        <ng-container *ngFor="let precio of preciosEscalas; let i = index">
          <tr
            [ngStyle]="{
              'background-color': (i + 1) % 2 !== 0 ? '#efefef' : '#fff'
            }"
          >
            <td>
              <strong
                >{{ precio.fromQuantity }} -
                {{
                  precio.toQuantity === 999 ? 'y más' : precio.toQuantity - 1
                }}
                und.</strong
              >
            </td>
            <td style="color: #0063b9">
              {{
                (session.preferences.iva ? precio.price : precio.netPrice)
                  | currencyFormat
              }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template #modalEscala>
  <div class="modal-header">
    <button type="button" class="btn-close" (click)="modalEscalaRef.hide()">
      <i class="fas fa-times-circle" style="color: #00549d"></i>
    </button>
  </div>
  <div class="modal-body" style="min-height: 140px">
    <div class="w-100 flex justify-content-center" style="margin-bottom: 4px">
      <img
        src="../../../../assets/images/llevaMasPagaMenos/200x50_rectangular.jpg"
        style="z-index: 3"
        alt="precio escala"
      />
    </div>
    <div class="card text-white bg-implementos mb-3">
      <div class="card-body">
        <div
          class="text-center"
          style="margin-bottom: -10px; font-weight: bold"
        >
          Precios Escalas
        </div>
        <table>
          <thead>
            <tr style="background-color: #00549d !important">
              <td class="text-center">Volumen</td>
              <td class="text-center">Precio</td>
            </tr>
          </thead>
          <tbody class="table_paga" *ngIf="preciosEscalas">
            <ng-container *ngFor="let precio of preciosEscalas; let i = index">
              <tr
                style="color: #00549d"
                [ngStyle]="{
                  'background-color': (i + 1) % 2 !== 0 ? '#ffff' : '#efefef'
                }"
              >
                <td
                  style="width: 50%; border-right: solid 2px; color: #00549d"
                  *ngIf="precio.toQuantity !== 999"
                >
                  {{ precio.fromQuantity }} a {{ precio.toQuantity }} und.
                </td>
                <td
                  style="width: 50%; border-right: solid 2px; color: #00549d"
                  *ngIf="precio.toQuantity === 999"
                >
                  {{ precio.fromQuantity }} y más und.
                </td>
                <td
                  class="text-center"
                  style="width: 50%; border-left: solid 2px; color: #00549d"
                >
                  {{
                    (session.preferences.iva ? precio.price : precio.netPrice)
                      | currencyFormat
                  }}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>
