@if(productsAvailable.length || productsUnavailable.length){

<div *ngIf="seeProducts" class="dropcart__products-list">
  <ng-container *ngIf="productsAvailable.length">
    <div class="row m-0" class="mensaje-entrega mb-3">
      <div class="header">
        <i class="fas fa-check-circle" style="margin-right: 10px"></i>
        <span class="fw-bold"> {{ shippingTypeTitle }}</span>
      </div>
      <app-products-list-summary-cart [products]="productsAvailable" />
    </div>
  </ng-container>

  <div *ngIf="productsUnavailable.length">
    <div class="row m-0" class="conflicto-entrega mb-3">
      <div class="header">
        <i class="fas fa-info-circle" style="margin-right: 10px"> </i>
        <span class="fw-bold">Productos no disponible</span>
      </div>
      <app-products-list-summary-cart [products]="productsUnavailable" />
      <div class="footer"></div>
    </div>
  </div>
</div>

<div
  *ngIf="seePrices"
  class="dropcart__totals"
  [ngClass]="{ 'border-0': seeProducts == false }"
>
  <table>
    <ng-container *ngIf="show">
      <tr *ngIf="(cartService.totals$ | async)?.length">
        <th>Subtotal</th>

        <td style="color: #0d61bb; font-weight: bold">
          {{ cartService.subtotal$ | async | currencyFormat }}
        </td>
      </tr>
      <tr
        *ngFor="let total of cartService.totals$ | async"
        [ngClass]="{ 'td-discount': total.type == 'discount' }"
      >
        <ng-container *ngIf="router.url != '/carro-compra/resumen'">
          <th>{{ total.title }}</th>
          <td style="color: #0d61bb; font-weight: bold">
            {{ total.price | currencyFormat }}
          </td>
        </ng-container>
        <ng-container *ngIf="total.title !== undefined">
          <ng-container
            *ngIf="
              router.url == '/carro-compra/resumen' &&
              total.title.indexOf('Despacho') == -1 &&
              total.title.indexOf('Retiro') == -1
            "
          >
            <th>{{ total.title }}</th>
            <td style="color: #0d61bb">
              {{ total.price | currencyFormat }}
            </td>
          </ng-container>
        </ng-container>
      </tr>
      <tr>
        <th style="color: #0d61bb">Total</th>
        <td class="fw-bold" style="color: #0d61bb">
          {{ cartService.total$ | async | currencyFormat }}
        </td>
      </tr>
    </ng-container>
  </table>
</div>
}
