<div class="mb-3" [hidden]="showSearchBar" style="color: #0063b9">
  <label>{{ title || 'Ingrese dirección' }}</label>
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      placeholder="Nombre Dirección"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false"
      type="text"
      #search
    />
    <button
      class="btn bg-transparent"
      (click)="clearSearchInput()"
      style="margin-left: -40px; z-index: 100"
    >
      <i class="fa fa-times" style="font-size: 13px !important"></i>
    </button>
  </div>
</div>
<div class="me-1 ms-1">
  @if(isMapLoaded){
  <google-map [center]="center" [zoom]="zoom" [options]="mapOptions">
    <map-marker
      *ngFor="let markerPosition of markerPositions"
      [options]="markerOptions"
      [position]="markerPosition"
    />
  </google-map>
  }
</div>
