table thead tr {
  background-color: #005baa !important;
  color: #ffffff;
}

tbody ::after,
::before {
  box-sizing: border-box;
  border-radius: 10px !important;
}

table tbody td,
table thead th {
  border-bottom: none !important;
  font-size: 0.9375rem;
  padding: 8px 15px !important;
  color: black;
}
.modal-header {
  .btn {
    padding: 0 !important;
  }
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
  background-color: #009479 !important;
  color: #fff !important;
}
