<div class="modal-header">
    <div
    class="w-100 d-flex justify-content-center"
  >
    <img
      src="../../../../assets/images/llevaMasPagaMenos/200x50_rectangular.jpg"
    />
  </div>
  <button type="button" class="btn" (click)="modalRef.hide()">
    <i class="fas fa-times" style="font-size: 18px;color: gray"></i>
  </button>
</div>
<div class="modal-body" style="min-height: 140px">
  <div class="card-body p-1">
    <table>
      <thead>
        <tr style="background-color: #00549d !important">
          <td class="text-center" style="font-weight: bold; padding: 7px 10.5px;">Volumen</td>
          <td class="text-center"  style="font-weight: bold;padding: 7px 10.5px;">Precio</td>
        </tr>
      </thead>

      <tbody class="table_paga" *ngIf="scalePrices.length">
        <ng-container *ngFor="let precio of scalePrices; let i = index">
          <tr
            [ngStyle]="{
              'background-color': (i + 1) % 2 !== 1 ? '#ffff' : '#efefef'
            }"
          >
            <td *ngIf="precio.toQuantity != 999" style="width: 50%;">
              DE {{ precio.fromQuantity }} A {{ precio.toQuantity - 1 }} UN.
            </td>
            <td *ngIf="precio.toQuantity === 999" style="width: 50%;">
              {{ precio.fromQuantity }} O MAS UN.
            </td>
            <td
              class="text-center"
              style="width: 50%;"
            >
              {{
                (session.preferences.iva ? precio.price : precio.netPrice)
                  | currencyFormat
              }}
              <span class="badge-pill">{{
                (session.preferences.iva ? 'c/iva' : 's/iva')
              }}</span>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
